frontend1.{{GUID}}.internal
appdb1.{{GUID}}.internal
app1.{{GUID}}.internal
support1.{{GUID}}.internal
app2.{{GUID}}.internal
[lb]
frontend1.{{GUID}}.internal

[webservers]
app1.{{GUID}}.internal
app2.{{GUID}}.internal 

[db]
appdb1.{{GUID}}.internal

[mailserver]
support1.{{GUID}}.internal

[samba_servers]
suppport1.{{GUID}}.internal

[secure_webserver]
app1.{{GUID}}.internal ansible_host=support2.{{GUID}}.internal

[all:vars]
ansible_user = devops
ansible_ssh_private_key_file = /home/devops/.ssh/id_rsa
